<div ui-content-for="title">
  <div>Quick Order!</div>
</div>

<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">
        <p>
          Bored of waiting in restaurants to order food and to pay for your meal?
        </p>

        <p>
          We have the solution: quick-order.ch
        </p>

        <p>
          Try it out without a QR Code:
        </p>

        <ul>
          <li><a href="#/restaurant/1/table/9">Vivendi, Table 9</a>
          <li><a href="#/restaurant/1/table/15">Vivendi, Table 15</a>
          <li><a href="#/restaurant/2/table/1">Angelhack Bar, Table 1</a>
        </ul>

      </div>
    </div>
  </div>
</div>

