<div ui-content-for="title">
  <span>En guätä {{currentOrder.length}}</span>
</div>


<div class="scrollable">
  <div class="scrollable-content">
      <div class="panel-group"
           ui-state='myAccordion'
        ui-default='1'>

        <div class="panel panel-default" ng-repeat="p in products">
          <div class="panel-heading" ui-set="{'myAccordion': p.guiId}">
            <h4 class="panel-title">
              {{p.name}}
            </h4>
          </div>
          <div xui-if="myAccordion == p.guiId" ui-scope-context='p.guiId'>
            <div class="panel-body">
              <div class="row" ng-repeat="i in p.products">
                <div class="col-md-8" ng-click="addItem(i)">
                  {{i.name}}
                </div>
                <div class="col-md-2">
                  {{i.size}}
                </div>
                <div class="col-md-2" style="text-align:right">
                  {{i.price}}
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
