<div ui-content-for="title">
  <div>
    <a href="https://www.google.com/maps/?q=@{{restaurant.latitude}},{{restaurant.longitude}}" target="_blank">
      {{restaurant.name}} / Table #{{getTableId()}}
    </a>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body" ng-if="getTicketNumber()>0">
        Thank you for your order.
        <br>Your food will be prepared shortly.
        <br>Your ticket number is:

        <div class="ticketBg" ng-if="getTicketNumber()>0">
          <div style="margin: 0.1em; font-size: 5em">
            {{getTicketNumber()}}
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
