<div ui-content-for="title">
  <span>Submit Order</span>
</div>


<div ui-content-for="bottom">
  <div class="btn-group justified">
    <a class="btn" ng-click="payOrder()">Pay and get food!</a>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">

        <div class="row" ng-repeat="i in currentOrder">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
            {{i.count}} x {{i.name}}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" style="text-align:right">
            {{i.priceFormatted}}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
