<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">

        <div class="row" ng-repeat="i in orders" style="font-size:1.3em">

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="ticketBg" style="font-size:1.6em;">
              <div style="font-size:1.6em;" >
                {{i.ticketNumber}}
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            {{i.dateTime}}
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
