<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">

        <div class="row" ng-repeat="i in orders" style="font-size:1.3em">

          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="height:100%">
            <div class="ticketBg" style="font-size:1.5em; height:100%">
              <div style="font-size:1.1em; height:100%" >
                {{i.ticketNumber}}
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="vertical-align:middle">
            {{i.dateTime}}
            <br>Items: {{i.items.length}} ({{i.status}})
          </div>
          <div> </div>

        </div>
      </div>
    </div>
  </div>

</div>
