<div ui-content-for="title">
  <div>{{user.firstName}} {{user.lastName}}</div>
</div>

<div ui-content-for="bottom">
  <a class="btn">Apply</a>
</div>

<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">

        Please select your preferred payment method:<br><br>

        <div class="radio">
          <label><input type="radio" name="paymentMethod"><img width="34" src="../images/paypal.gif"/>
            PayPal</label>
        </div>

        <div class="radio">
          <label><input type="radio" name="paymentMethod"><img width="34" src="../images/visa.gif"/>
            VISA / Electron</label>
        </div>

        <div class="radio">
          <label><input type="radio" name="paymentMethod"><img width="34" src="../images/mc.gif"/>
            Master Card</label>
        </div>

      </div>
    </div>
  </div>
</div>

