<div ui-content-for="title">
  <div>{{user.firstName}} {{user.lastName}}</div>
</div>

<div ui-content-for="bottom">
  <a class="btn">Apply</a>
</div>

<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">

        Please select your preferred payment method:<br><br>

        <input type="radio" name="paymentMethod" value="paypal" checked>

        <img width="34" src="../images/paypal.gif"/>&nbsp;&nbsp;

        <strong>PayPal</strong><br>
        <br>
        <input type="radio" name="paymentMethod" value="visa">

        <img width="34" src="../images/visa.gif"/>&nbsp;&nbsp;

        <strong>VISA / Electron</strong><br>
        <br>
        <input type="radio" name="paymentMethod" value="mastercard">

        <img width="34" src="../images/mc.gif"/>&nbsp;&nbsp;

        <strong>Master Card</strong>

      </div>
    </div>
  </div>
</div>

