<div ui-content-for="title">
  <div>{{user.firstName}}'s profile</div>
</div>

<div ui-content-for="bottom">
  <a class="btn">Apply</a>
</div>

<div class="scrollable">
  <div class="scrollable-content panel-body">
    <div class="panel">
      <div class="panel-body">

        Please select if you only want to be presented with foods &amp; drinks matching these types:<br><br>

        <div class="checkbox">
          <label><input type="checkbox" value="vegetarian" checked>Vegetarian</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" value="vegan">Vegan</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" value="koscher">Koscher</label>
        </div>

        <div class="checkbox">
          <label><input type="checkbox" value="halal">Halal</label>
        </div>

      </div>
    </div>
  </div>
</div>

